
html{
    height : 100%
}

body{
    background-image: linear-gradient(#f29027, #ffdba8);
    margin : auto ;
    width: 100%; /* largeur obligatoire pour être centré */
    height: 100%
}

*{
    color : black;
    text-align: center;
}
header{
    height: 20%
}
main{
    height: 60%
}
footer{
    height: 10%;
    padding-top : 10px;
    margin: 10px;
    position :relative;
}
input{
    border : 2px solid #f48106;
    border-radius: 5px;
    margin : 5px;
    width: 200px;
}

#pizza{
    width : 100px;
    height: 100px;
}

#univ{
    position: absolute;
    bottom : 0;
    left : 0;
    height: 50%;
}
footer a{
    position: absolute;
    bottom : 0;
    right : 0;
}

button{
    width : 10px;
    height: 15px;
    border :1px solid black;
}