html{
    height : 100%;
}

body{
    margin : auto ;
    width: 100%; /* largeur obligatoire pour être centré */
    height: 100%;
    background-color: #FFFFFF;
}
*{
 
    text-align: center;
}

img#couverts{
	height:60px;
	width:60px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}



/*header*/
header{
    position :relative;
    height: 20%
}

header h1{
    font-weight:900;
    font-size : 40px;
    color : orange;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}
header h2{
	
	white-space:nowrap;
	font-size:200%;
	font-family:Arnoldboecklin;
	display: block;
    margin-left: auto;
    margin-right: auto;
	font-size:300%;
}

section h2{
	
	white-space:nowrap;
	font-size:200%;
	font-family:Arnoldboecklin;
	display: block;
    margin-left: auto;
    margin-right: auto;
	font-size:300%;
}


.selection{
	display: block;
    margin-left: auto;
    margin-right: auto;
	font-size:200%;
}

header button#n1{
    position : absolute;
    bottom : 6em;
    left: 10px;
}

header button#n2{
	position:absolute;
	bottom:6em;
	right:10px;
}

#panier{
	height:50px;
	
}
	




/*main*/
main{
    height: 60%;
}

article.col-md-12{
    position :relative;
    margin:auto;
    border-radius: 15px;
    background-color: white;
 
    width: 100%;
    border:1px solid grey;
    box-shadow: 10px 5px 5px grey;
    height:390px;
	size:200%;
	
}

	

.Prix{
	font-size:200%;
}



.bouton{
	background-color:#F4A460;
	color:#FFFFFF;
	font-size:200%;
	box-shadow: 10px 5px 5px grey;
	border-radius: 15px;
}


#num_1{
	
	float:right;
}

.col-md-2{
	color:#A9A9A9;
}

#num_2{
	
	float:left;
}

