body {
    margin: auto;
    width: 100%;
    /* largeur obligatoire pour être centré */
    height: 100%;
    background-color: #FFFFFF;
    position: relative;
}

* {
    color: black;
    text-align: center;
}



/*header*/
header {
    position: relative;
    height: 20%
}

header h1 {
    font-weight: 900;
    font-size: 40px;
    color: orange;
}

header button#n1 {
    position: absolute;
    bottom: 0px;
    left: 10px;
}

#menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 60px;
    height: 60px;
}



/*main*/
main {
    height: 60%;
}

main article {
    position: relative;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    width: 80%;
    border: 1px solid grey;
    box-shadow: 10px 5px 5px grey;
    height: 120px;
    margin-bottom: 20px;
}

.date {
    position: absolute;
    top: 5px;
    left: 10px;
}

.heure {
    position: absolute;
    background-color: #F4A460;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    top: 5px;
    right: 10px;
}

.price {
    position: absolute;
    top: 40%;
    /* poussé de la moitié de hauteur du référent */
    left: 50%;
    font-size: 20px;
}

.statut {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 20px;
}

.detail {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.description {
    position: absolute;
    left: 15px;
    bottom: 30px;
}


/*footer*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
}

footer ul li button img {
    width: 80px;
}


li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}